// .container1{
//     margin: 0;
//     top:0;

// } 

.custom-dialog-container .mat-dialog-container {  
    padding: 0 !important; /* Remove dialog container padding */  
    margin: 0 !important; /* Remove dialog container margin */  
  } 
    
  .header {  
    display: flex;  
    justify-content: space-around;  
    // margin-bottom: 20px;  
    color: #fff;
    font-size: medium;
    background: linear-gradient(90deg, rgba(204, 0, 1, 1) 0%, rgba(0, 52, 102, 1) 100%);
  }  
    
    
  form {  
    margin-top: 20px;  
    padding: 10px;
  }  
    
  .form-group {  
    margin-bottom: 20px; 
    margin-left:28px;
    margin-right: 31px; 
  }  
    
  .form-label {  
    font-weight: bold;  
    margin-bottom: 10px; 
    font-size: 12px; 
  }  
    
  .form-control {  
    // width: 100%;  
    // height: 40px;  
    // padding: 10px;  
    // font-size: 16px;  
    // border: 1px solid #ccc;  
    border-radius: 5px;
    // margin-: ;  
  }  
    
  .login-form-control:focus {  
    border-color: #aaa;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  
  }  
    
  .btn-login {  
    height: 40px;  
    font-size: 14px;  
    padding: 10px 20px;  
    border: none;  
    border-radius: 5px;  
    // background-color: #4CAF50;  
    // color: #fff;  
    cursor: pointer;  
  }  
    
    
    
  .btn-login:disabled {  
    background-color: #ccc;  
    cursor: not-allowed;  
  }  
    

