
  <div class="login-base">
    <div class="login-inner">
      <div class="company-logo">
        <img src="assets/images/logo.png" alt="Gatezy - Powered by sugmya." />
      </div>
      <div>
        <div class="title-area">
          <h3>{{ otpConfirmed ? 'Reset Password' : 'Welcome Back!' }}</h3>
          <p *ngIf="!otpConfirmed">Please enter your Mobile number below to receive an OTP.</p>
          <p *ngIf="otpConfirmed">Enter your new password below.</p>
        </div>
      </div>
      <div class="form-area">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <!-- Email/OTP Section -->
          <div *ngIf="!otpConfirmed">
            <div class="form-group">
              <label class="form-label mb-1">Mobile Number</label>
              <input type="number" class="login-form-control" formControlName="mobileNo" />
              
            </div>
  
            <!-- OTP Input -->
            <div class="form-group mt-4" *ngIf="showNewInput">
              <label for="otp" class="form-label mb-1">OTP</label>
              <input type="text" id="otp" class="login-form-control" formControlName="newInput" />
            </div>
          </div>
  
          <!-- Password Reset Section -->
          <div *ngIf="otpConfirmed">
            <div class="form-group">
              <label class="form-label mb-1">New Password</label>
              <input type="password" class="login-form-control" formControlName="newPassword" />
            </div>
            <div class="form-group mt-4">
              <label class="form-label mb-1">Confirm Password</label>
              <input type="password" class="login-form-control" formControlName="confirmPassword" />
            </div>
          </div>
  
          <!-- Submit Button -->
          <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary w-100 btn-login"  [disabled]="loginForm.invalid" (click)="toggleReset($event)">
              <span class="sr-only">{{ buttonLabel }}</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- SMS Confirmation Card -->
  <div *ngIf="showCard" class="overlay" (click)="hideCard()">
    <div class="rightContent">
      <div class="card" (click)="$event.stopPropagation()">
        <img src="assets/image4.png" alt="Card Image" class="card-img">
        <div class="card-body">
          <h3>SMS Sent</h3>
          <p>An SMS with an OTP has been sent to your email.</p>
          <button (click)="hideCard()" class="ok-btn">OK</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer">
    <span>Copyright © 2025 <a href="https://sufinn.com/" target="_blank"><b>Gatezy</b></a>. sugmya.com All Rights Reserved.</span>
  </div>
  
  