

.login-base {
    display: inline-flex;
    width: 100%;
    height: 100vh;
    background-image: url("../../../assets/images/form-full-bg-sales.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-inner {
    width: 25%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.company-logo {
    height: 70px;
    display: flex;
    justify-content: center;
}

.company-logo>img {
    height: 100%;
}

.title-area {
    text-align: center;
}

.title-area>h3 {
    font-weight: 500;
}

.signup-link {

    font-weight: 300;
}

.signup-link>a {
    font-weight: 400;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

.footer span {
    color: var(--primary-color);
}

.support {
    font-size: 16px;
}