
.no-tenant-base {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
 
}

.no-tenant {
    width: 45%;
    background: #fff;
    padding: 30px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.no-tenant>h4 {
    font-weight: 700;
    border-bottom: 1px solid var(--ds-border);
    padding-bottom: 12px;
}

.loading-base {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 90px;
}