
.image-dialog-content {
  position: relative;
  display: inline-block;
      img {
      width: 400px;
      height:400px;
     
    }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
